body {
  background: "C:\Users\Gabriel\Pictures\0073YlnVly1hacog3l5dpj32qs1jknpd.jpg";
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
}
